{% extends 'users/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<br>
<h1 id="header-h1">{{ mensaje }}</h1>
<br>

<div class="row mt-4 justify-content-center">
    <div class="col-md-6 col-lg-4 mb-4 mb-md-4">
        <div class="info-producto  text-center text-light">
            <h2>Contactanos</h2>
            <hr>
            <form action="" class="" method='POST'>

                {% csrf_token %}

                {{ form | crispy }}


                <br>
                <div class="d-flex justify-content-center ">
                    <input type="reset" value="Cancelar" class="btn btn-default">
                    &nbsp;
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <hr>
                </div>

            </form>
        </div>
    </div>


    {% endblock content %}